/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

 /* Header start */

 .header {
	text-align: center;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
	max-width: 800px;
 }

  .header__menu {
	background-color: transparent;
	border: none;
	cursor: pointer;

 }

 .header-dropdown {
	position: absolute;
	background-color: transparent;
	z-index: 50;
	left: 30%;
	right: 20%;
	display: none;
	
 }

 .header-dropdown a {
	text-decoration: none;
	font-family: 'Playfair Display';
	font-style: normal;
	color: #000000;
	font-size: 40px;
	line-height: 48px;
 }

 .header-dropdown a:hover {
	background-color: #ccc;
 }

 .header__list {
	display: flex;
	flex-wrap: wrap;
 }

 .header__item {
	margin-right: 70px;
 }

 .header__item:last-child {
	margin-right: 0;
 }

 .header:hover .header-dropdown {
	display: block;
 }
 
.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.hero {
	background-image: url(../images/intro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 75%;
	Height: 630px;
	margin: 0 auto;
	position: relative;
	
}

.hero-box img{
	display: none;
}

.hero-box {
	background-color: white;
	width: 56%;
	height: 57%;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 110px;
	
}

  .intro__title {
    font-family: 'Playfair Display';
	font-style: normal;
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
	padding-bottom: 14px;
	color:#000000;
}

.intro__subtitle {
    font-family: 'Roboto';
	font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
	color:#000000;
}

/* Header end */
/* KatyaMills__biography start */

.katya__mills__description {
	padding-top: 135px;
	display: flex;
	justify-content: center;
}

.img__katya__mills {
	width: 	45%;
	height: 45%;
	max-width: 80%;
	position: relative;
	/* max-width: 553px;
	Height: 75%; */
	/* display: block; */
}

.katya__mills__subtitle {
	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.36vw; /* 20px */
	line-height: 1/2; /* 23px */
	width: 6%;
	height: 23px;
	position: relative;
	top: 35px;
	transform: rotate(-90deg);
	margin-right: 4%; /* 91px */
	color:#000000;
}

.katya__mills__description__text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* width: 	45%; */
	/* height: 45%; */
	max-width: 100%;
	position: relative;
}

.title__Katya__mills {
	display: flex;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 5rem; /* 86px */
	line-height: 115px;
	height: 250px;
	max-width: 300px;
	color:#000000;
}

.katya__mills__direction {
	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	justify-content: space-around;
	height: 150px;
	color: #0D0D0D;
}

.katya__mills__quote {
	display: flex;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #0D0D0D;
}

.katya__mills__quote::before {
	content:"-";
	position: relative;
	width: 0;
	height: 0;
	bottom: 38px;
	font-size: 50px;
}

.section__designers{
	margin-top: 8%;
}

.container__text__designers {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	height: 25px;
}

.text__designers {
	position: relative;
    top: 4.6em;
    left: 13.3em;
	transform: translateY(-50%) rotate(-90deg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;
	color:#000000;
}

.designers {
	display: grid;
	align-items: end;
	gap: 2%;
	grid-template-columns: 35% 16% 16%;
	justify-content: center;
}

.designers__jesswonder {
	grid-column-start: 1;
}

.img__jesswonder {
	width: 100%;
	height: auto;
	max-width: 670px;
}

.text__jesswonder {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 1vw;
	line-height: 1.2;
	width: 50%;
	margin-left: 45%;
	margin-top: 3.6%;
	color:#000000;
}

.img__kameronclein {
	width: 100%;
	height: auto;
	max-width: 320px;
}

.text__kameronclein {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 1vw;
	line-height: 1.2;
	margin-top: 7%;
	color:#000000;
}

.img__louissered {
	width: 100%;
	height: auto;
	max-width: 320px;
}

.text__louissered {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 1vw;
	line-height: 1.2;
	margin-top: 7%;
	color:#000000;
}

/* Designers end */
/* Testimonials start */

.testimonials{
	padding-top: 206px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	left: -26.6em;
}

.section__testimonials {
	justify-content: center;
}

.testimonials{
	padding-top: 10%;
	padding-bottom: 2%;
	position: relative;
	left: 2%;
	width: 90%;
}

.text__testimonials {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 2vw;
	line-height: 1.2;
	position: absolute;
	left: 13%;
	color:#000000;
}

.wrapper__testimonials {
	display: grid;
	column-gap: 20px;
	align-items: center;
	/* добавил align-items: center; - ссылки перестали быть на месте */
	grid-template-columns: 3% 37% 9% 17%;
	gap: 3%;
	justify-content: center;
}

.link__container {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	row-gap: 15px;
	column-gap: 30px;
	justify-content: center;
	transform: rotate(-90deg);
}

a.creativity, a.website, a.creativity2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;
	line-height: 1.2;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
	
}

.link__container a:hover {
	color: blue;
}

.img__testimonials {
	width: 100%;
	height: auto;
}

.testimonials__quote {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	grid-column: 4 / 5;
	font-size: 2vw;
	line-height: 1.2;
	padding-top: 2%;
	color:#000000;
}

.text__quote {
	padding-bottom: 15%;
}

.img__testimonials__quote {
	width: 	100%;
	height: auto;
	position: relative;
}

/* Testimonials end */

/* Strongpoints start */

.strongpoints__heading__section {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	transform: rotate(-90deg);
	top: 8.9em;
    left: -28.2em;
}

.strengths__title {
	padding-top: 170px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5vw;
	color:#000000;
}

.img__strongpoints_1, .img__strongpoints_2, .img__strongpoints_3 {
	width: 350px;
	height: 525px;
	position: relative;
	margin-right: 30px;
}

/* ------------------- fallbacks ----------- */

@supports (display: grid) {
	.strongpoints__grid	{
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: center;
		grid-auto-flow: row;
		gap: 30px;
		align-items: end;
		overflow-x: auto;
		margin: 0;
	}
	.img__strongpoints_1, .img__strongpoints_2, .img__strongpoints_3 {
	margin: 0;
	}
}

/* ------------------- fallbacks ----------- */

.strongpoints__flex {
	overflow-x: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;	
}

.img__strongpoints_3 {
	margin-right: 0;
}
.strengths__list {
	margin-right: 30px;
}

.strengths {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 86px;
	line-height: 115px;
	margin: 0px 0 35px;
	color:#000000;
/* identical to box height */
}

.tex__boxes {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
	line-height: 40px;
	width: 50%;
	margin-left: 25%;
	margin-top: 3.6%;
	margin-bottom: 8%;
	color:#000000;
}

/* Strongpoints end */

.footer {
	display: none;
}


/* ПЛАНШЕТ */

@media (min-width: 768px /*минимальная ширина экрана для смартфона*/ ) and (max-width: 1024px /*максимальная ширина экрана для планшета*/) {
	.title__Katya__mills {
		font-size: 3rem;
		flex-direction: column-reverse;
	}

	.katya__mills__direction {
		font-size: 16px;
	}
	
	.katya__mills__quote {
		font-size: 19px;
		line-height: 28px;
	}
	.img__katya__mills {
		padding-left: 5px;
	}
	.katya__mills__subtitle {
		font-size: 1.50vw;
	}
	.katya__mills__description__text{
		right: 40px;
	}

	.designers {
		display: grid;
		align-items: end;
		gap: 2%;
		grid-template-columns: 45% 20% 20%;
		justify-content: center;
	}
	.text__designers {
	    top: 7.35em;
    	left: 17.3em;
    	font-size: 1.3vw;

	}

	.strongpoints__heading__section {
		/* display: flex;
		align-items: center;
		position: relative;
		justify-content: center;
		transform: rotate(-90deg);
		top: 8.9em;
		left: -28.2em; */
		/* height: 25px; */
	}

}

@media (max-width: 767px /*максимальный размер для телефонов*/ ) {
	.hero {
		/* background-image: url(../images/intro.jpg) no-repeat;	 */
		/* background-size: cover; */
		/* background-position: center; */
		max-width: 767px;
		width: 100%;
		height: 420px;
		/* Height: 630px; */
		/* margin: 0 auto; */
		position: relative;
		margin-top: 345px;
	}
	
	.hero-box img{
		display: contents;
		background-image: ;
		max-width: 767px;
		width: 100%;
		height: 420px;
		position: relative;
		margin-top: 345px;
	}
	
	.hero-box {
		position: relative;
		top: -54%;
		/* left: 40%; */
		transform: translate(-50%, -50%);
		/* text-align: center; */
		background: none;
		/* max-width: 150%;	 */
		margin-left: 0;
		margin-right: 0;
	}
	
	  .intro__title {
		display: flex;
		position: relative;
		font-size: 60px;
		line-height: 120%;
		padding-bottom: 14px;
		/* width: auto; */
		/* margin-left: -19%; */
		text-align: center;
		white-space: nowrap;
		justify-content: center;
	}
	
	.intro__subtitle {
		font-size: 18px;
		line-height: 23px;
		height: 34px;
		margin-left: 7%;
	}

	.header__list {
		display: flex;
		justify-content: center;
	}
	.header__menu img {
		display: none;
	}

	.header__menu {
		pointer-events: none;
		opacity: 0.5;
	  }
	  
	  .header-dropdown {
		display: contents !important;
	  }
	  
	  .header-dropdown a:hover {
		background-color: transparent !important;
	  }
	
	  .header {
		display: none;
	}
	
	.footer {
	display: contents;
	}

	.footer__list {
		display: flex;
		justify-content: space-around
	}
	.footer__menu img {
		display: none;
	}

	.footer__menu {
		pointer-events: none;
		opacity: 0.5;
	  }
	  
	  .footer-dropdown {
		display: contents !important;
	  }
	  .footer-dropdown a {
		text-decoration: none;
		font-family: 'Playfair Display';
		font-style: normal;
		color: #000000;
		font-size: 40px;
		line-height: 48px;
	  }
	  
	  .footer-dropdown a:hover {
		background-color: transparent !important;
	  }

	  /* <!-- KatyaMills__biography start --> */

	  .biography {
	}
	.katya__mills__description {
	}
	.img__katya__mills {
		position: relative;
		left: 9%;
		top: 450px;
	}
	.katya__mills__subtitle {
		position: relative;
		color: #000;
		font-size: 18px;
		font-family: Roboto;
		font-weight: 700;
		transform: rotate(0deg);
		left: 34%;
		top: -71px;

	}
	.katya__mills__description__text {
	}
	.title__Katya__mills {
		position: relative;
		display: flex;
		font-size: 3rem; /* 86px */
		line-height: 115px;
		height: 250px;
		max-width: 300px;
		top: 250px;

	}
	.katya__mills__direction {
		position: relative;
		font-size: 16px;
		top: -50%;
		right: 87%;
		
		
	}
	.katya__mills__quote {
		position: relative;
		display: flex;
		font-size: 19px;
		line-height: 28px;
		right: 175px;
		top: -300px;

	}
	.element {
	}

	/* <!-- KatyaMills__biography end --> */
	
	}