/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* roboto-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

 /* Header start */

 .header {
	text-align: center;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
	max-width: 800px;
 }

  .header__menu {
	background-color: transparent;
	border: none;
	cursor: pointer;

 }

 .header-dropdown {
	position: absolute;
	background-color: transparent;
	z-index: 50;
	left: 30%;
	right: 20%;
	display: none;
	
 }

 .header-dropdown a {
	text-decoration: none;
	font-family: 'Playfair Display';
	font-style: normal;
	color: #000000;
	font-size: 40px;
	line-height: 48px;
 }

 .header-dropdown a:hover {
	background-color: #ccc;
 }

 .header__list {
	display: flex;
	flex-wrap: wrap;
 }

 .header__item {
	margin-right: 70px;
 }

 .header__item:last-child {
	margin-right: 0;
 }

 .header:hover .header-dropdown {
	display: block;
 }
 
.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.hero {
	background-image: url(../images/intro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 75%;
	Height: 630px;
	margin: 0 auto;
	position: relative;
	
}

.hero-box {
	background-color: white;
	width: 56%;
	height: 57%;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-top: 110px;
	
}

  .intro__title {
    font-family: 'Playfair Display';
	font-style: normal;
    font-weight: 500;
    font-size: 86px;
    line-height: 120%;
	padding-bottom: 14px;
}
.intro__subtitle {
    font-family: 'Roboto';
	font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

/* Header end */
/* KatyaMills start */

.biography {
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 630px;
	Height: 75%;
	margin: 0 auto;
	position: relative; */
}

.katya__mills__description {
	padding-top: 135px;
	display: flex;
	justify-content: center;
}

.img__katya__mills {
	width: 	45%;
	height: 45%;
	max-width: 80%;
	position: relative;
	/* max-width: 553px;
	Height: 75%; */
	/* display: block; */
}

.katya__mills__subtitle {
	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 1.36vw; /* 20px */
	line-height: 1/2; /* 23px */
	width: 6%;
	height: 23px;
	position: relative;
	top: 35px;
	transform: rotate(-90deg);
	margin-right: 4%; /* 91px */
}

.katya__mills__description__text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* width: 	45%; */
	/* height: 45%; */
	max-width: 100%;
	position: relative;
}

.title {
	display: flex;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 5rem; /* 86px */
	line-height: 115px;
	height: 250px;
	max-width: 300px;
}
.katya__mills__direction {
	display: flex;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	justify-content: space-around;
	height: 150px;
}
.katya__mills__quote {
	display: flex;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
}

/* KatyaMills end */
/* Designers start */

.section__designers{
	width: 100%;
 	max-width: 1200px;
  	margin: 0 auto;
	padding-top: 150px;
	align-items: center;
	display: flex;
	justify-content: center;

}

.text__designers {
	position: relative;
	top: -11.8em;
	left:50em;
	transform: translateY(-50%) rotate(-90deg);
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	white-space: nowrap;
}

.designers {
	display: grid;
	align-items: end;
	gap: 30px;
	grid-template-columns: 636px 320px 320px;
	justify-content: center;
}

.designers__jesswonder {
	grid-column-start: 1;
}

.img__jesswonder {
	width: 635.48px;
	height: 538px;
}

.text__jesswonder {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	width: 50%;
	margin-left: 50%;
}

.img__kameronclein {
	width: 319.02px;
	height: 439.46px;
}

.kameronclein {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
}

.img__louissered {
	width: 320px;
	height: 439.46px;
}

.louissered {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
}

/* Designers end */
/* Testimonials start */

.testimonials{
	padding-top: 206px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	left: -26.6em;
}

.section__testimonials {
	justify-content: center;
}

.testimonials{
	padding-top: 10%;
	padding-bottom: 2%;
	position: relative;
	left: 2%;
	width: 90%;
}

.text__testimonials {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	/* font-size: 20px;
	line-height: 23px; */
	font-size: 2vw;
	line-height: 1.2;
	position: absolute;
	left: 13%;

}

.wrapper__testimonials {
	display: grid;
	column-gap: 20px;
	/* grid-template-columns: 100px 515px 146px 221px; */
	justify-content: center;
	align-items: center;
	/* добавил align-items: center; - ссылки перестали быть на месте */
	grid-template-columns: 3% 37% 9% 17%;
	gap: 3%;
	justify-content: center;
}

.link__container {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	row-gap: 15px;
	column-gap: 60px;
	justify-content: center;
	transform: rotate(-90deg);
}

.link__creativity, .link__creativity2, .link__website {
	/* transform: rotate(-90deg); */

}

a.creativity, a.website, a.creativity2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	/* font-size: 16px; */
	font-size: 1.3vw;
	/* line-height: 19px; */
	line-height: 1.2;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
	
}

.link__container a:hover {
	color: blue;
}

.img__testimonials {
	width: 100%;
	/* max-width: 515px; */
	/* height: 757px; */
	height: auto;
	/* transform: translate(5.1rem, 1rem); */
	/* background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover; */
}

.testimonials__quote {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	text-align: center;
	grid-column: 4 / 5;
	font-size: 2vw;
	line-height: 1.2;
	padding-top: 2%;
}

.text__quote {
	padding-bottom: 15%;
}

.img__testimonials__quote {
	/* width: 221px; */
	/* height: 333px; */
	width: 	100%;
	height: auto%;
	/* max-width: 100%; */
	position: relative;
}

/* Testimonials end */
/* Strongpoints start */

.section__strongpoints {
	padding-top: 170px;
	display: grid;
	justify-content: center;
}

.img__strongpoints_1 {
	width: 350px;
	height: 525px;
}

.img__strongpoints_2 {
	width: 351px;
	height: 525px;
}

.img__strongpoints_3 {
	width: 351px;
	height: 525px;
}

.sstrengths{
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	font-size: 86px;
	line-height: 115px;
/* identical to box height */
}
.strengths__list {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 41px;
}

/* Strongpoints end */